<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LogPath" value="C:\logs\FFUnitTests.txt"/>
    <add key="LogMode" value="TXT"/>
    <add key="LogLevel" value="1"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
