<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LogPath" value="C:\logs\BMC.ExMonitor.txt"/>
    <add key="LogMode" value="TXT"/>
    <add key="LogLevel" value="1"/>

    <add key="LogIncomingMessages" value="true"/>
    <add key="LogOutgoingMessages" value="true"/>
    <add key="CommServerHttpPort" value="9880"/>
    <add key="CommServerTcpPort" value="9881"/>
    <add key="NonPriorityThreads" value="5"/>
    <add key="PriorityThreads" value="5"/>
    <add key="SkipMonitorDatabase" value="true"/>
    <add key="LogRawMessages" value="true"/>
    <add key="UseTaskInsteadOfThread" value="true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
