<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LogPath" value="C:\Logs\BMCNetworkService.txt"/>
    <add key="LogMode" value="TXT"/>
    <add key="LogLevel" value="1"/>
    <add key="ApplicationName" value="BMC NetworkService"/>
    <add key="EnableDisableMultiGame" value="false"/>
    <add key="RegistryPath" value="Cashmaster"/>
    <add key="CommsRegistryPath" value="Cashmaster\\Exchange"/>
    <add key="Interval" value="60"/>
    <add key="Process" value="60"/>
    
    <!--<add key="SyncTimeInterval" value="60"/>
    <add key="GMUTimeDifference" value="60"/>
    <add key="GMUTimeDiffOffset" value="1"/>
    <add key="VerificationTimeInterval" value="240"/>
    <add key="CompVerificationTimeInterval" value="120"/>
    <add key="DailyVerificationInterval" value="180"/>
    <add key="PortBlockingInterval" value="60"/>-->
    
    <add key="COMReInitializeTimerTriggerCountLimit" value="100"/>
    <!--<add key="TITOConfigThreadCount" value="30"/>-->
    <add key="DisableDetailedLogs" value="True"/>
        
    <add key="TITO" value="TRUE"/>
    <add key="TITOConfigInterval" value="60"/><!--Seconds-->
    
    
    <add key="MachineConfig" value="TRUE"/>
    <add key="MachineConfigInterval" value="60"/><!--Seconds-->
    
    <add key="AFTEnableDisable" value="TRUE"/>
    <add key="AFTTimeInterval" value="180"/>

    <add key="RequestWaitMilliSeconds" value="10"/><!--MilliSeconds-->
    <add key="DBHitWaitMilliSeconds" value="100"/><!--MilliSeconds-->

    <add key="InstantPeriodic" value="TRUE"/>  
    <add key="InstantPeriodicInterval" value="60"/><!--Seconds-->

    <add key="EmployeecardBroadcast" value="true"/>
    <add key="EmployeecardTimeInterval" value="60"/>
      <!--Settings for the Immediate Logging
      ImmediateLogging false denotes loggs are buffered and written after buffer size had reached-->
    <add key="ImmediateLogging" value="false"/>
    <!--Default Value : 8096 bytes , Value in bytes -->
    <add key="LogBufferSize" value="8096"/>
    <add key="LogNoIdleTimer" value="False"/>
    <!--Default Value : 1 Minute , Value in Milli Seconds -->
    <add key="LogIdleTimeInterval" value="60000"/>
  </appSettings>
</configuration>
