<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ApplicationName" value="Component Verification"/>
		<add key="LogPath" value="c:/logs/ComponentVerification.txt"/>
		<add key="LogMode" value="TXT"/>
		<add key="LogLevel" value="1"/>
    <add key="RegistryPath" value="CashmasterHQ\\Settings"/>
	</appSettings>
</configuration>
