<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="LogPath" value="C:\Logs\CageBMCInterface.txt"/>
    <add key="LogMode" value="TXT"/>
    <add key="LogLevel" value="1"/>
    <add key="ImmediateLogging" value="True"/>
    <add key="ApplicationName" value="Cash Desk Operator"/>
    <add key="RefreshTime" value="5"/>
    <add key="VoidRecords" value="20"/>
    <add key="AllowDragging" value="true"/>
    <add key="CardNumberFormat" value=";([A-Z,a-z,0-9])*\?"/>
    <add key="InnerCardNumberFormat" value="([A-Z,a-z,0-9])*"/>
    <add key="NumberOfCharToTrim" value="4"/>
    <add key="NoOfRecords" value="15"/>
    <add key="HandpayCommandLinePrompt" value="cmdline.bat"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="NetLoggerPath" value="NetLogger"/>
    <add key="RegistryPath" value="Cashmaster"/>
    <add key="ExchangeClientInstallationPath" value=""/>
    <add key="ServicesList" value="BGSExchangeHost,BGSExchangeMonitorMSMQ,BGS Automated Read,BGS Hourly Read,BMC Exchange Data Import Export,BMCGuardian"/>
    <add key="ServicesListFromDB" value="TRUE"/>
    <add key="ServiceRecords" value="10"/>
    <add key="Server" value="Enterprise"/>
    <add key="XDays" value="5"/>
    <add key="StartPathCDM" value="C:\Program Files\Bally Technologies\BMC Cash Desk Manager\"/>
    <add key="ZipPath" value="C:\Program Files\Bally Technologies\Scripts\"/>
    <add key="ExchangeKey" value="Software\\Honeyframe\\Cashmaster\\ExchangeKey"/>
    <add key="EnterpriseKey" value="Software\\Honeyframe\\Cashmaster\\EnterpriseKey"/>
    <add key="WebserviceExtension" value="/EnterpriseWebservice/EnterpriseWebservice.asmx"/>
    <add key="TicketExpire" value="Software\\Honeyframe\\Cashmaster\\Exchange\\TktExpDays"/>
    <add key="GetDefaultCultureForRegion" value="en-US"/>
    <add key="GetDefaultCultureForCurrency" value="en-US"/>
    <add key="GetDefaultCultureForDate" value="en-US"/>
    <add key="GetDefaultCultureForUserLanguage" value="en-US"/>
    <add key="InstallType" value="SOFTWARE\\Honeyframe"/>
    <add key="EnableDenomChange" value="FALSE"/>
    <add key="isDebug" value="FALSE"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="CMPServiceExtension" type="CageBMCInterface.MySrvExtension, CageBMCInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <services>
      <service behaviorConfiguration="CageBMCInterface.CageInterfaceBehavior" name="CageBMCService.Voucher">
        <endpoint address="" binding="basicHttpBinding" contract="BMC.Transport.VoucherEndPoint">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="localhost"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="CageBMCInterface.JackpotBehavior" name="CageBMCInterface.Jackpot">
        <endpoint address="" binding="basicHttpBinding" contract="BMC.Transport.JackpotEndPoint">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
      </service>
      <service behaviorConfiguration="CageBMCInterface.AuthenticationBehavior" name="CageBMCInterface.Authentication">
        <endpoint address="" binding="basicHttpBinding" contract="BMC.Transport.FrameworkEndPoint">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CageBMCInterface.CageInterfaceBehavior">
          <CMPServiceExtension/>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="CageBMCInterface.JackpotBehavior">
          <CMPServiceExtension/>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="CageBMCInterface.AuthenticationBehavior">
          <CMPServiceExtension/>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="Service1Binding">
          <transactionFlow/>
          <textMessageEncoding/>
          <httpTransport authenticationScheme="Ntlm"/>
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>
</configuration>