<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
  
  </startup>
  <appSettings>
    <add key = "LogPath"                value = "C:\Logs\BMCUtilities.txt" />
    <add key = "LogLevel"               value = "1" />
    <add key = "LogMode"                value = "TXT" />
    <add key = "PerItemprocessInterval" value = "10"/>
    <add key = "ProcessInterval"        value = "120"/>
    <add key = "RecordCounttoprocess"   value = "100"/>
    <add key = "ACProcessInterval"      value = "3600"/>
    <add key = "ACMinDaystoActivate"    value = "1"/>

    <!--Settings for the Immediate Logging
      ImmediateLogging false denotes loggs are buffered and written after buffer size had reached-->
    <add key = "ImmediateLogging"       value = "false"/>
    <!--Default Value : 8096 bytes , Value in bytes -->
    <add key = "LogBufferSize"          value = "8096"/>
    <add key = "LogNoIdleTimer"         value = "False"/>
    <!--Default Value : 1 Minute , Value in Milli Seconds -->
    <add key = "LogIdleTimeInterval"    value = "60000"/>

  </appSettings>
</configuration>