<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LogPath" value="C:\logs\ConsoleTesting.txt"/>
    <add key="LogMode" value="TXT"/>
    <add key="LogLevel" value="1"/>
    <add key="GetDefaultCultureForRegion" value="en-GB" />
    <add key="GetDefaultCultureForCurrency" value="en-GB" />
    <add key="GetDefaultCultureForDate" value="en-GB" />
    <add key="GetDefaultCultureForUserLanguage" value="en-GB" />
  </appSettings>
</configuration>