<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LogPath" value="C:\Logs\LiveFloorMeters.txt"/>
    <add key="LogMode" value="TXT"/>
    <add key="LogLevel" value="1"/>
    <add key="ApplicationName" value="Live Floor Meters"/>
    <add key="PerformanceCounter" value="true"/>
	<add key="RegistryPath" value="Cashmaster"/>
  </appSettings>
</configuration>
