<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<appSettings>    
	    <add key="LogPath" value="C:\Logs\BMCExchangeConfig.txt"/>
		<add key="LogMode" value="TXT"/>
		<add key="LogLevel" value="1"/>
		<add key="ApplicationName" value="BMC Exchange Configuration"/>
		<add key="NetLoggerPath" value="NetLogger"/>
		<add key="RegistryPath" value="Cashmaster"/>
		<add key="RefreshTime" value="60"/>
		<add key="VoidRecords" value="20"/>
		<add key="Startuppath" value="C:\Program Files\Bally Technologies"/>
		<add key="ConnectionFlag" value="false"/>
		<add key="VisibleUpgradeScript" value="true"/>
		<add key="UpgradeScript" value="C:\Program Files\Bally MultiConnect\Exchange Server \Database\Scripts\Exchange_11.2to11.4.5_Conversion_Script.sql"/>
		<add key="ServicesListFromDB" value="TRUE"/>
		<add key="protocol" value="http://"/>
		<add key="WebserviceExtension" value="/EnterpriseWebservice/EnterpriseWebservice.asmx"/>
		<add key="EnterpriseWebServicePort" value="4444"/>
		<add key="EntepriseWebServicePortRequired" value="true"/>
		<add key="IsLoginRequired" value="true"/> 
		<add key="OnScreenKeyboard" value="true"/>		
		<add key="DBScriptsDefaultPath" value="Database"/>
		<add key="DBScriptsDefaultPath64" value="C:\Program Files (x86)\Bally Technologies\Exchange Server\Database"/>
		<add key="AutoRunUpgradeScriptAfterDBRestore" value="true"/>
		<add key="UpdgradeScriptDefaultPath" value="C:\Program Files\Bally Technologies\Exchange Server\Database"/>
		<add key="UpdgradeScriptDefaultPath64" value="C:\Program Files (x86)\Bally Technologies\Exchange Server\Database"/>
		<add key="UpgradeScriptFileName" value="Exchange_DBScriptConfig.xml"/>
		<add key="ExchangeBlankDB" value="ExchangeBlankDB.bak"/>
		<add key="TicketingBlankDB" value="TicketingBlankDB.bak"/>
		<add key="EXTSYSMSGBlankDB" value="EXTSYSMSGBlankDB.bak"/>
		<add key="DefaultLogPath" value="C:\Logs"/>
		<add key="DependOnServiceKey" value="DependOnService"/>
		<add key="DependOnServiceNameForSQLInstance" value="SQLAgent"/>
		<add key="RegistryPathControlSet001" value="SYSTEM\ControlSet001\Services"/>
		<add key="RegistryPathControlSet002" value="SYSTEM\ControlSet002\Services"/>
		<add key="RegistryPathControlSet004" value="SYSTEM\ControlSet004\Services"/>
		<add key="RegistryPathCurrentControlSet" value="SYSTEM\CurrentControlSet\Services"/>
		<add key="DatabaseRestorePath" value="C:\ExchangeDatabase\"/>
	  <add key="CashmasterExchangeLogDrive" value="D:"/>
    <add key="CreateCashmasterFolderInsideLogs" value="true"/>
		<add key="CashDispenserType" value="GLORY"/>
    	<add key="HoneyFramePath" value="Software\\Honeyframe"/>
	    <add key="ServiceTimeOut" value="5"/> <!--in Minutes-->
  <!--CommConfig Setting Start-->
  <add key="CommsConfigName" value="CommExchange.config"/>
	<add key="CommsConfigLocations" value="MSMQ,NetworkService,ExchangeDataImportExportWindowService,BMC PCIntegrationService"/>
  <!--CommConfig Setting End-->
  
  <add key="CMPWebServicePort" value="9996"/>
	<add key="CMPeWebServicePortRequired" value="True"/>
  <add key="CMPServiceExtension" value="/BMCGatewayService"/>
	</appSettings>
</configuration>
