<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LogPath" value="C:\Logs\AuditViewer.txt"/>
    <add key="LogMode" value="TXT"/>
    <add key="LogLevel" value="1"/>
    <add key="ApplicationName" value="BMC Audit Viewer"/>
    <add key="RegistryPath" value="Software\\Honeyframe\\Cashmaster"/>
  </appSettings>
</configuration>
