<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BMC.CashDispenser.Core.Properties.Settings.ExchangeConnectionString" connectionString="Data Source=ws-in009;Initial Catalog=Exchange;Persist Security Info=True;User ID=sa;Password=sa123" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>
