<?xml version="1.0"?>
<configuration>
	<configSections>
 </configSections>
 <appSettings>
		<add key="LogPath" value="C:\Logs\BMCExchangeConfig.txt"/>
		<add key="LogMode" value="TXT"/>
		<add key="LogLevel" value="1"/>
		<add key="ApplicationName" value="BMC Exchange Configuration"/>
		<add key="NetLoggerPath" value="Software\\Honeyframe\\NetLogger"/>
		<add key="RegistryPath" value="Software\\Honeyframe\\Cashmaster"/>
		<add key="RefreshTime" value="60"/>
		<add key="VoidRecords" value="20"/>
			<add key="Startuppath" value="C:\Program Files\Bally Technologies"/>
		<add key="ConnectionFlag" value="false"/>
		<add key="VisibleUpgradeScript" value="true"/>
		<add key="UpgradeScript" value="C:\Program Files\Bally MultiConnect\Exchange Server \Database\Scripts\Exchange_11.2to11.4.5_Conversion_Script.sql"/>
		<add key="ServicesListFromDB" value="TRUE"/>
		<add key="protocol" value="http://"/>
		<add key="WebserviceExtension" value="/EnterpriseWebservice/EnterpriseWebservice.asmx"/>	
 </appSettings>
	
</configuration>
