<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BMC.Guardian.DBHelper.Properties.Settings.EnterpriseConnectionString" connectionString="Data Source=bally1-uk;Initial Catalog=Enterprise;Persist Security Info=True;User ID=sa;Password=sa@123" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>
