<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<appSettings>
		<add key="LogPath" value="C:\Logs\BMCExchangeConfig.txt"/>
		<add key="LogMode" value="TXT"/>
		<add key="LogLevel" value="1"/>
		<add key="ApplicationName" value="BMC Exchange Configuration"/>
		<add key="NetLoggerPath" value="NetLogger"/>
    <add key="RegistryPath" value="Cashmaster"/>
    <add key="HoneyFramePath" value="Software\\Honeyframe"/>
		<add key="Startuppath" value="C:\Program Files\Bally Technologies"/>		
		<add key="protocol" value="http://"/>
		<add key="WebserviceExtension" value="/EnterpriseWebservice/EnterpriseWebservice.asmx"/>
		<add key="EnterpriseWebServicePort" value="4444"/>
		<add key="EntepriseWebServicePortRequired" value="true"/>		
		<add key="OnScreenKeyboard" value="true"/>
		<add key="DefaultLogPath" value="C:\Logs"/>
    <add key="CashDispenserType" value="GLORY"/>
    <add key="CommsConfigName" value="CommExchange.config"/> 
	<add key="IsLoginRequired" value="false"/>
    <add key="CreateCashmasterFolderInsideLogs" value="true"/>
	</appSettings>
</configuration>
