<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LogPath" value="C:\Logs\BMC.DataSheet.txt"/>
    <add key="LogLevel" value="1"/>
    <add key="LogMode" value="TXT"/>
    <add key="Registrypath" value="CashMasterHQ\\Settings"/>
    <add key="ConnectionFlag" value="False"/>
    <add key="ConnectionString" value=""/>
    <add key="ReportServerInstance" value="/ReportServer"/>
    <add key="ReportViewer" value="N"/>
    <add key="protocol" value="http://"/>
    <add key="GetDefaultCultureForRegion" value="en-US"/>
    <add key="GetDefaultCultureForCurrency" value="en-US"/>
    <add key="GetDefaultCultureForDate" value="en-US"/>
    <add key="GetDefaultCultureForUserLanguage" value="en-US"/>
  </appSettings>
</configuration>
