<?xml version="1.0"?>
<configuration>
	<configSections>
 </configSections>
 <appSettings>		
		<add key="LogPath" value="C:\Logs\EnterpriseReports.txt"/>
		<add key="LogLevel" value="1"/>
		<add key="LogMode" value="TXT"/>
		<add key="Registrypath" value="Software\\Honeyframe\\CashMasterHQ\\Settings"/>
		<add key="ConnectionFlag" value="False"/>
		<add key="ConnectionString" value=""/>
	 	<add key="ReportServerInstance" value="/ReportServer_MSSQL2008R2"/>
	 	<add key="ReportViewer" value="N"/>
		<add key="protocol" value="http://"/>
		<add key="GetDefaultCultureForRegion" value="it-IT"/>
		<add key="GetDefaultCultureForCurrency" value="it-IT"/>
		<add key="GetDefaultCultureForDate" value="it-IT"/>
		<add key="GetDefaultCultureForUserLanguage" value="it-IT"/>
   <add key="AssetDetails_MachineStatus" value="0,In Stock;1,In Use;13,Terminated"/>
 </appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ReportViewer.ProcessingObjectModel" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <!--<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />-->
</startup></configuration>
