<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LogPath" value="C:\Logs\EnterpriseConfig.txt"/>
    <add key="LogMode" value="TXT"/>
    <add key="LogLevel" value="1"/>
    <add key="ApplicationName" value="BMC Enterprise Config"/>
    <add key="RegistryPath" value="CashmasterHQ\\Settings"/>
    <add key="WebserviceExtension" value="/Service.asmx"/>
    <add key="ApplicationStartupPath" value="C:\Program Files\Bally Technologies\Enterprise Server"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
	<add key="DefaultLogPath" value="C:\Logs"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
