<?xml version="1.0"?>
<configuration>
 <appSettings>
		<add key="LogPath" value="C:\Logs\BMCMonitoringService.txt"/>
		<add key="LogMode" value="txt"/>
		<add key="LogLevel" value="1"/>
		<add key="RegistryPath" value="CashmasterHQ\\Settings"/>
		<add key="ExchangeMonitorInterval" value="60"/>		<!-- ExchangeMonitorInterval in Seconds -->
		<add key="EnterpriseMonitorInterval" value="60"/>	<!-- EnterpriseMonitorInterval in Seconds -->
		<add key="NewSiteMonitorInterval" value="60"/>		<!-- CheckNewSiteInterval in Minutes -->
		<add key="ExchangeProxyTimeOut" value="30"/>		<!-- ExchangeProxyTimeOut in Seconds -->
		<add key="ExchangeProxyMaxRetries" value="3"/>		<!-- ExchangeProxyMaxRetries in Number -->
		<add key="SiteCommsFaultSource" value="400"/>
		<add key="SiteCommsFailureFaultType" value="8"/>
		<add key="SiteCommsResumedFaultType" value="9"/>
   <add key="checkSiteConnectivityInterval" value="10"/><!--In Seconds-->
   <add key="MaxGraceTimeForHourlyRun" value="5"/><!--In minutes-->
   <add key="MaxGraceTimeForReadRun" value="10"/><!--In minutes-->
   <add key="SendMultipleSTMAlert" value="0"/><!--0 for single message for a error. 1 for multiple messages-->
   <add key="DBChecker" value="60"/><!--DB Checker for updated value (in minutes)-->
   <add key="ReadTimeInterval" value="15"/><!--ReadTimeInterval in Minutes for internal loop-->
   <add key="ReadListUpdateTime" value="13:00"/><!-- ReadTimeInterval in 24 Hour Format(HH:MM) EX:(13:45) -->
   <add key="DefaultReadTime" value="06:30"/>   <!--IF Read Time value is empty we will use 06:30 is default Time -->
   <add key="STMAlertRequired" value="True"/><!--false for Not needed true for send alert -->
    <!--Settings for the Immediate Logging
      ImmediateLogging false denotes loggs are buffered and written after buffer size had reached-->
    <add key="ImmediateLogging" value="false"/>
    <!--Default Value : 8096 bytes , Value in bytes -->
    <add key="LogBufferSize" value="8096"/>
    <add key="LogNoIdleTimer" value="False"/>
    <!--Default Value : 1 Minute , Value in Milli Seconds -->
    <add key="LogIdleTimeInterval" value="60000"/>
 </appSettings> 
</configuration>
