<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--<add key="GroupByItems" value="SUB COMPANY, REGION, AREA, DISTRICT, ZONE, POSITION, OPERATOR, DEPOT, GAMETITLE, GAMEASSET, ASSET "/>
		<add key="RecordCountItems" value="ALL, TOP 20%, BOTTOM 20%"/>-->
		<add key="LogPath" value="c:\logs\MeterAnalysis.txt"/>
		<add key="LogMode" value="TXT"/>
		<add key="LogLevel" value="1"/>
	</appSettings> 
</configuration>
