<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="AutomaticServiceRestart" value="yes"/>
		<add key="AutomaticIISRestart" value="yes"/>
		<add key="TimeInterval" value="30"/>
		<add key="ServiceCheckTimeInterval" value="15"/>
		<add key="ServiceStatusInterval" value="60"/>
		<add key="LogPath" value="c:\logs\GuardianLog.txt"/>
		<add key="LogMode" value="TXT"/>
		<add key="LogLevel" value="1"/>
		<add key="ApplicationName" value="BMC Guardian"/>
		<add key="RegistryPath" value="Cashmaster"/>
		<add key="ExchangeWebServiceURL" value="http://localhost/BGSWSAdmin/BGSWSAdmin.asmx"/>
		<add key="NoofSystemLogsToGet" value="10"/>
		<add key="SiteStatusCheckInterval" value="60"/>			<!-- SiteStatusCheckInterval in Minutes -->
    <add key="Exchange_ServicesStatusInterval" value="120"/> <!-- Exchange_ServicesStatusInterval in Seconds -->
	</appSettings>
</configuration>
