<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="RegistryPath" value="Cashmaster"/>
		<add key="LogPath" value="C:\logs\TicketExportService.txt"/>
		<add key="LogFolder" value="C:\logs\"/>
		<add key="LogMode" value="TXT"/>
		<add key="LogLevel" value="1"/>
		<add key="TimerinMilliSeconds" value="60000"/>
		<add key="CVTimerinMilliSeconds" value="15000"/>
		  <!--Settings for the Immediate Logging
      ImmediateLogging false denotes loggs are buffered and written after buffer size had reached-->
    <add key="ImmediateLogging" value="false"/>
    <!--Default Value : 8096 bytes , Value in bytes -->
    <add key="LogBufferSize" value="8096"/>
    <add key="LogNoIdleTimer" value="False"/>
    <!--Default Value : 1 Minute , Value in Milli Seconds -->
    <add key="LogIdleTimeInterval" value="60000"/>
	   </appSettings>
</configuration>
