<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="DBConn" value="CashMasterHQ\\Settings"/>
		<add key="ApplicationName" value="Centralised Site Settings"/>
		<add key="LogPath" value="c:/logs/CentralisedSiteSettings.txt"/>
		<add key="LogMode" value="TXT"/>
		<add key="LogLevel" value="1"/>
	</appSettings>
</configuration>
