<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="BMC_GoLiveApplication_Check.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
 </configSections>
 <appSettings>
	<add key="LogPath" value="C:\Logs\BMCGoLiveApp.txt"/>
	<add key="LogMode" value="TXT"/>
	<add key="LogLevel" value="1"/>
	<add key="RegistryPath" value="Cashmaster"/>
	<add key="ServicesList" value="BGSExchangeMonitorMSMQ,BGS Hourly Read,BMCGuardianService,BMCExchangeHost,BMCNetworkService,ExchangeTicketExportService,BMCExchangeImportExport"/>
	<add key="ExchangeWebServicePath" value="http://localhost/ExchangeWebService/ExchangeWebService.asmx"/>
	</appSettings>
 <userSettings>
  <BMC_GoLiveApplication_Check.Properties.Settings>
   <setting name="BMC_GoLiveApplication_Check_Exchange_BGSWSAdmin_BGSWSService" serializeAs="String">
    <value>http://localhost/bgswsadmin/bgswsadmin.asmx</value>
   </setting>
  </BMC_GoLiveApplication_Check.Properties.Settings>
 </userSettings>
</configuration>
