<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LogPath" value="C:\logs\BMC.EBSCommServer.txt"/>
    <add key="LogMode" value="TXT"/>
    <add key="LogLevel" value="1"/>
    <add key="TimerIntervalinSecs" value="60"/>
    <add key="LogIncomingMessages" value="true"/>
    <add key="LogOutgoingMessages" value="true"/>
    <add key="EBSCommServerHttpPort" value="18080"/>
    <add key="LogRawMessages" value="true"/>
    <add key="FromSystem" value="SDS"/>
    <add key="ToSystem" value="EBS"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
