<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LogPath" value="C:\Logs\BMC.PCIntegrationService.txt" />
    <add key="LogMode" value="TXT" />
    <add key="LogLevel" value="1" />
    <add key="ServicePath" value="http://10.2.108.85:18090/BMC/Data" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="EncryptionKey" value="firstkey"/>
    <add key ="WsdlLoginName" value="admin"/>
    <add key ="WsdlPassword" value="rIPNI+rb0g3SOI8X/O/D0A=="/>
    <add key ="MaxRows" value="20"/>
    <add key ="WaitTime" value="1000"/>
  </appSettings>
  <!--<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>-->
  <system.serviceModel>
    <!--<extensions>
      <behaviorExtensions>
        <add name="BMCWCFServiceForPCExtension" type="WcfServiceForPC.MySrvExtension, WcfServiceForPCInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>-->
    <services>
      <service behaviorConfiguration="DataXChangeEndPointService" name="DataXChangeEndPointService">
        <!--<endpoint address="http://10.2.108.85:18090/BMC/Data" binding="basicHttpBinding" contract="WcfServiceForPC.IBMCServiceForPC">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>-->
        <endpoint address="mex" binding="basicHttpBinding" contract="DataXChangeEndPointService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://10.2.108.85:18090/BMC/Data" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DataXChangeEndPointService">
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "c:\logs\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->
</configuration>