<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="LogPath" value="C:\Logs\CashierTransactions.txt"/>
    <add key="LogLevel" value="1"/>
    <add key="LogMode" value="TXT"/>
    <add key="GetDefaultCultureForRegion" value="en-US"/>
    <add key="GetDefaultCultureForCurrency" value="en-US"/>
    <add key="GetDefaultCultureForDate" value="en-US"/>
    <add key="GetDefaultCultureForUserLanguage" value="en-US"/>
    <add key ="CDM_RecordsCount" value="1000"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
