<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
	<appSettings>
		<add key="LogPath" value="C:\Logs\BMCCrossTicketing.txt"/>
		<add key="LogLevel" value="1"/>
		<add key="LogMode" value="TXT"/>
	</appSettings>
    <!--<connectionStrings>
        <add name="BMCTicketingConfig.Properties.Settings.EnterpriseConnectionString"
            connectionString="Data Source=ws-in257;Initial Catalog=Enterprise;Persist Security Info=True;User ID=sa;Password=sa123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>-->
</configuration>
