<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="LogPath" value="C:\BMCMeterHistory.txt"/>
		<add key="LogMode" value="TXT"/>
		<add key="LogLevel" value="1"/>
		<add key="StopSendingAfterNTimes" value="5"/>
		<add key="ConnectionFlag" value="False"/>	
		<!--<add key="GroupByItems" value="SUB COMPANY,REGION,AREA,DISTRICT,SITE,ZONE,POSITION,CATEGORY,TYPE,OPERATOR,DEPOT,GAMETITLE,GAMEASSET,ASSET"/>
		<add key="RecordCountItems" value="ALL,TOP 20%,BOTTOM 20%"/>
		<add key="DatatypeItems" value="AVG DAILY WIN,HANDLE,CASINO WIN,GAMES BET"/>-->
		<add key="MaxMonths" value="24"/>
		<add key="HideOccupancy" value="NO"/>
	</appSettings>
</configuration>
