<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BMC.DBInterface.CashDeskOperator.Properties.Settings.ExchangeConnectionString" connectionString="Data Source=WS-IN195;Initial Catalog=Exchange;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="BMC.DBInterface.CashDeskOperator.Properties.Settings.ExchangeConnectionString1" connectionString="Data Source=.;Initial Catalog=Exchange;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="BMC.DBInterface.CashDeskOperator.Properties.Settings.ExchangeConnectionString4" connectionString="Data Source=10.2.100.11;Initial Catalog=Exchange;User ID=sa" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>
